<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="/styles/leosite.css">
<link rel="stylesheet" type="text/css" href="/styles/leosite-popup.css">

<head>

    <html lang="en">
    <title>Leonid Yanchis</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="header" id="header">

        <h1>
            I am <span class="leo">Leo</span>,<br>a <span class="software">Software</span> Guy.</span>
        </h1>
    </div>
    <div class="navbar">

        <a class="nav-button" href="#popup1">Projects</a>
        <div id="popup1" class="overlay">
            <div class="popup" id="project-popup">
                <div class="popup-flex-row">
                    <div class="popup-title" id="project-title">
                        <h2>My Projects</h2>
                    </div>
                    <a class="close" href="#header">&times;</a>
                </div>
                <div class="popup-content">
                    <a href="#">Coming Soon</a><br><br>
                    <a href="#">Coming Soon</a><br><br>
                    <a href="#">Coming Soon</a>
                </div>
            </div>
        </div>

        <a class="nav-button" href="./resume">Resume</a>

        <a class="nav-button" href="#popup5">Biography</a>
        <div id="popup5" class="overlay">
            <div class="popup">
                <div class="popup-flex-row">
                    <div class="popup-title" style="margin-right: 100px;">
                        <h2>My Biography</h2>
                    </div>
                    <a class="close" href="#header">&times;</a>
                </div>
                <div class="popup-content">Still thinking of what to write :)</div>
            </div>

        </div>
    </div>

    <div class="weekly-container">
        <span><strong>T</strong>rending DEV Article</span>
        <div id="article-container">
            <div id="article-title"><%= articleTitle %></div>
            <img id="article-image" src="<%= articleImageUrl %>"></img>
            <div id="bottom-article-row">
                <img id="article-heart" alt="Likes"
                    src="https://practicaldev-herokuapp-com.freetls.fastly.net/assets/emoji/emoji-one-heart-855b5a6263042e4c9448cf2cb0dd2e201598b77b1e3f1dc041492bc0128d9fb8.png"></img>
                <div id="article-likes"><%= articleLikes %></div>
                <a href="<%= articleUrl %>" target="_blank">Full post on DEV</a>
            </div>
        </div>
    </div>

    <div class="weekly-container">
        <span><strong>V</strong>ideo of the Week</span>
        <div id="video-container">
            <iframe width="560" height="250" src="<%= videoUrl %>" frameborder="0" allow="accelerometer; encrypted-media; gyroscope;
            picture-in-picture"></iframe>
        </div>
    </div>

    <div class="weekly-container">
        <span><strong>S</strong>ong of the Week</span>
        <div id="audio-container">
            <iframe width="560" height="250" src="<%= songUrl %>" frameborder="0" allow="accelerometer; encrypted-media; gyroscope;
            picture-in-picture"></iframe>
        </div>
    </div>

    <div class="footer">
        <div class="footer-ribbon">
            <a href="https://github.com/kRyM1337" target="_blank"><img src="../images/github.svg"
                alt="Github"></img></a>
            <a href="https://linkedin.com/in/leonidyanchis/" target="_blank"><img src="../images/linkedin.svg"
                alt="LinkedIn"></img></a>
            <a href="https://soundcloud.com/krym1337" target="_blank"><img src="../images/soundcloud.svg"
                alt="SoundCloud"></img></a>
            <a href="https://www.instagram.com/thosevisualsbro/" target="_blank"><img src="../images/instagram.svg"
                alt="Instagram"></img></a>
                    
        </div>
        <div class="footer-list">

            <a class="footer-links" href="#popup2">What is this site about?</a>
            <div id="popup2" class="overlay">
                <div class="popup" id="about-popup">
                    <div class="popup-flex-row">
                        <div class="popup-title" id="about-title">
                            <h2>About this site</h2>
                        </div>
                        <a class="close" href="#footer-list">&times;</a>
                    </div>
                    <div class="popup-content">
                        This is my personal hub that I built from scratch.<br>I enjoy experimenting here so check back
                        for new updates.<br><br>
                        Things I picked up while working on this site:<br>
                        <ul>
                            <li>Node / NPM</li>
                            <li>API Patterns</li>
                            <li>SQLite3</li>
                            <li>CSS3 / Flexbox / Grid / Animations</li>
                            <li>Responsive Design</li>
                            <li>HTML5</li>
                        </ul>
                    </div>
                </div>
            </div>


            <a class="footer-links" href="#popup3">Need help with your website?</a>
            <div id="popup3" class="overlay">
                <div class="popup" id="help-popup">
                    <div class="popup-flex-row">
                        <div class="popup-title" id="help-title">
                            <h2>Let's work together</h2>
                        </div>
                        <a class="close" href="#footer-list">&times;</a>
                    </div>
                    <div class="popup-content">
                        Things I can help you with:<br>
                        <ul>
                            <li>App / API Integrations</li>
                            <li>App Design</li>
                            <li>Server-side Javascript</li>
                            <li>Responsive Design</li>
                            <li>UI Components</li>
                            <li>Requirements</li>
                        </ul>
                    </div>
                </div>
            </div>

            <a class="footer-links" href="#popup4">Contact Me</a>
            <div id="popup4" class="overlay">
                <div class="popup" id="contact-popup">
                    <div class="popup-flex-row">
                        <div class="popup-title" id="contact-title">
                            <h2>Contact Me</h2>
                        </div>
                        <a class="close" href="#footer-list">&times;</a>
                    </div>
                    <div class="popup-content">

                        <a href="mailto:leonid.yanchis@gmail.com?Subject=Hello%20Leonid" target="_top"
                            style="text-decoration: none; color: blue;">Email Me</a><br><br>
                        <a href="tel:+1-718-629-7347" style="text-decoration: none; color: blue;">Call
                            Me</a><br><br>
                        <a href="https://linkedin.com/in/leonidyanchis/" target="_blank"
                            style="text-decoration: none; color: blue;">My LinkedIn</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>